<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function validateRegistration(event)
{

    if (!(/^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}$/.test($("#floatingEmailInput")[0].value)))
    {
        event.preventDefault();
        alert("You have entered an invalid email!")
        return false;
    }


    if (!(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,16}$/.test($("#floatingPassword")[0].value)))
    {
        event.preventDefault();
        alert("Password must contain 8-16 characters A-z and number 0-9")
        return false;
    }

    if (!(/^[A-Za-z]\w{5,29}$/.test($("#floatingUsernameInput")[0].value)))
    {
        event.preventDefault();
        alert("You have entered an invalid username!")
        return false;
    }


    if (!(/^\d{5}(?:[-\s]\d{4})?$/.test($("#floatingZipInput")[0].value)))
    {
        event.preventDefault();
        alert("Zip not valid. Example: 12345-1234")
        return false;
    }


    var loc = $("#floatingCountryInput").value+','+$("#floatingStateInput")[0].value;
    if (!(/^[a-zA-Z ]{2,56},[ a-zA-Z]{4,}$/.test(loc)))
    {
        event.preventDefault();
        alert("You have entered an invalid location!")
        return false;
    }
    return true;

}
</script>
<body>
<header th:insert="blocks/header :: header"></header>
<style>
    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<div class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <div class="bd-callout bd-callout-warning small" th:if="${param.emailexist}">Email already in use.</div>
        <div class="bd-callout bd-callout-warning small" th:if="${param.emailNotValid}">Email not valid.</div>
        <div class="bd-callout bd-callout-warning small" th:if="${param.usernameNotValid}">Username not valid.</div>
        <div class="bd-callout bd-callout-warning small" th:if="${param.zipNotValid}">Zip not valid.</div>
        <div class="bd-callout bd-callout-warning small" th:if="${param.locationNotValid}">Location not valid.</div>
        <div class="bd-callout bd-callout-warning small" th:if="${param.passwordNotValid}">Password not valid.</div>
            <form th:action="@{/api/user/add}" method="post">
                <h1 class="h3 mb-3 fw-normal">Please register</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmailInput" name="email" placeholder="name@example.com">
                    <label for="floatingEmailInput">Email address</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingUsernameInput" name="username" placeholder="superuser">
                    <label for="floatingUsernameInput">Username</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingZipInput" name="zip" placeholder="1423">
                    <label for="floatingZipInput">Zip</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingCountryInput" name="country" placeholder="France">
                    <label for="floatingCountryInput">Country</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingStateInput" name="state" placeholder="Odessa">
                    <label for="floatingStateInput">State</label>
                </div><br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" onclick="validateRegistration(event)" type="submit">Register</button>
        </form>
    </main>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
