<div th:fragment="saleproduct" class="card h-100">
    <!-- Sale badge-->
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <!-- Product image-->
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder" th:text="${product.name}"></h5>
            <!-- Product reviews-->
            <div class="d-flex justify-content-center small text-warning mb-2">
                <div th:if="${product.rating >= 1}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 1.5 and product.rating < 2}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 2}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 2.5 and product.rating < 3}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 3}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 3.5 and product.rating < 4}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 4}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 4.5 and product.rating < 5}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 5}" class="bi-star-fill"></div>
            </div>
            <!-- Product price-->
            <span class="text-muted text-decoration-line-through" th:text="${product.defaultprice}"></span>
            <h6 th:text="${product.price}"></h6>
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/all/} + ${product.id}">View</a></div>
    </div>
</div>



<div th:fragment="product" class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder" th:text="${product.name}"></h5>
            <!-- Product reviews-->
            <div class="d-flex justify-content-center small text-warning mb-2">
                <div th:if="${product.rating >= 1}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 1.5 and product.rating < 2}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 2}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 2.5 and product.rating < 3}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 3}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 3.5 and product.rating < 4}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 4}" class="bi-star-fill"></div>
                <div th:if="${product.rating >= 4.5 and product.rating < 5}" class="bi-star-half"></div>
                <div th:if="${product.rating >= 5}" class="bi-star-fill"></div>
            </div>
            <!-- Product price-->
            <h6 th:text="${product.price}"></h6>
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/all/} + ${product.id}">View</a></div>
    </div>
</div>
